.skiling-onboarding-form {
  label {
    color: black;
  }
  input {
    border-color: black;
  }
}

.form-group{
  margin-bottom: 1.5rem;
}
.form-control:focus, .btn-primary:focus {
  box-shadow: none !important;
}

.sighupHeading {
  font-size: 20px;
  font-weight: 700;
  font-family: inter;
  line-height: 32px;
}

.formSubmit {
  margin: 48px 0;
}
