
.redirectionLink {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.platformText {
  margin: 24px 0 20px 0;
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}